.login-button-div{
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.profile-logout-div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-right: 20px;
}
.navbar-title{
    margin-left: 20px;
    margin-top: 5px;
}